@{
    ViewBag.Title = "CreateUser";
}

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-9" style="margin-top:10px;">

        <h4>Create a new account.</h4>
        <hr />

        <div style="margin-bottom:90px;">
            <label class="control-label col-md-2">User Name</label>
            <div class="col-md-10">
                <input type="text" name="UserName" class="form-control" />
            </div>
        </div>

        <div style="margin-bottom:160px;">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input type="text" name="Email" class="form-control" />
            </div>
        </div>

        <div>
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" name="Password" class="form-control" />

                <div class="form-group col-md-6">
                    <div class="col-md-offset-2 col-md-10" style="margin-top:20px; margin-left:80%;">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            </div>
        </div>
        </div>

        }




        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

