
@{
    ViewBag.Title = "Index";
}

    <div class="col-md-9" style="margin-top:30px;">
        @*<ul>
            <li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
            <li>@Html.ActionLink("Create Role", "CreteRole", "Admin")</li>
            <li>@Html.ActionLink("Assign Role", "AssignRole", "Admin")</li>
        </ul>*@

        <a href="/Admin/CreateUser">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Create User
                        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
                    </div>
                    <div class="panel-body" style="height:220px;">
                        <img style="width:40%; margin-left:24%;" src="~/assets/images/users/1.jpg" class="img-fluid img-style" />
                    </div>
                </div>
            </div>
        </a>

        <a href="/Admin/CreteRole">
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Create Role
                        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
                    </div>
                    <div class="panel-body" style="height:220px;">
                        <img style="width:40%;margin-left:26%;" src="~/assets/images/clients.png" class="img-fluid img-style" />
                    </div>
                </div>
            </div>
        </a>

        <a href="/Admin/AssignRole">
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Assign Role
                        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
                    </div>
                    <div class="panel-body" style="height:220px;">
                        <img style="width:40%;margin-left:26%;" src="~/assets/images/users/2.jpg" class="img-fluid img-style" />
                    </div>
                </div>
            </div>
        </a>




    </div>
